* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Rubik, sans-serif;
}
/* =================================Heading================================  */

.heading_container {
  width: 100%;
  height: 100vh;
  background-image: url(images/donation9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}
.background_effect {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(218, 218, 218);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}
.background_effect {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.background_effect > h1 {
  color: rgb(241, 241, 241);
  font-size: bold;
  font-size: 45px;
  font-size: 700;
}
.background_effect > p {
  color: rgb(231, 231, 231);
  font-size: 16px;
  font-size: 300;
}

.background_effect {
}
.btn {
  padding: 12px 30px;
  border: none;
  background-color: #ff5959;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #fc3e3e;
  transition: 0.3s;
}
.btn:active {
  background-color: #ec1e1e;
  transition: 0.3s;
}

/* =================================Donate Today================================  */

.donate_today {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
  margin-top: 20px;
}

.header_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
}
.header_description > h1 {
  color: rgb(27, 27, 27);
  font-size: bold;
  font-size: 45px;
  font-size: 700;
}
.header_description > p {
  color: rgb(107, 107, 107);
  font-size: 16px;
  font-size: 400;
}

.donation_selector_container {
  display: flex;
  gap: 30px;
}

.donation_selector {
  width: 90px;
  height: 80px;
  background-color: rgb(221, 221, 221);
  color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.donation_selector:hover {
  transform: translateY(-5px);
}
.selected {
  background-color: rgb(248, 182, 182);
  color: #fc3e3e;
  border: 1px solid #fc3e3e;
}

.custom_donate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom_donate input {
  width: 500px;
  margin-top: 40px;
  margin-bottom: 20px;
  height: 40px;
  text-align: center;
  border: none;
  border-bottom: 2px solid rgb(66, 66, 66);
  color: rgb(66, 66, 66);
  outline: none;
  font-size: 20px;
  font-weight: 700;
  color: #383838;
}
.custom_donate input:focus {
  border: none;
  border-bottom: 2px solid rgb(250, 79, 79);
  color: #ff5252;
}
.small_btn {
  width: 180px;
}
/* =================================Donation Plan================================  */

.donation_plan {
  width: 90%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 80px;
}

.cards_container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 280px;
  height: 250px;
  background-color: rgb(124, 109, 109);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  border-radius: 5px;
}
.sm_icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: -10px;
}
.card_description {
}
.card_description > h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(34, 34, 34);
}
.card_description > p {
  font-size: 13px;
  color: rgb(104, 104, 104);
}
#blood {
  background-color: #ffc6c6;
}
#education {
  background-color: #afaeff;
}
#food {
  background-color: #a3e4be;
}
/* =================================Get Updates================================  */
.get_updates {
  width: 90%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 80px;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe {
  width: 700px;
  height: 250px;
  background-color: rgb(255, 175, 208);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_button_container {
  display: flex;
}
.input_button_container input {
  border: none;
  height: 45px;
  width: 300px;
  text-align: center;
  transform: translateX(5px);
  border-radius: 5px;
  z-index: 1;
  outline: none;
  font-size: 20px;
}
.input_button_container input:focus {
  border: none;
  color: #ff5252;
}
.input_button_container button {
  z-index: 10;
  border-radius: 0 5px 5px 0;
}

/* =================================Footer================================  */
footer {
  width: 90%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 80px;
}
